<?xml version="1.0"?>
<psalm
    errorLevel="2"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    phpVersion="8.1"
>
    <projectFiles>
        <directory name="src" />
        <ignoreFiles>
            <directory name="vendor" />
            <directory name="examples" />
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <PropertyNotSetInConstructor>
            <errorLevel type="suppress">
                <directory name="src/Types" />
            </errorLevel>
        </PropertyNotSetInConstructor>
        
        <!-- These are public API methods, not unused -->
        <PossiblyUnusedMethod>
            <errorLevel type="suppress">
                <directory name="src" />
            </errorLevel>
        </PossiblyUnusedMethod>
        
        <!-- Library classes don't need to be final -->
        <ClassMustBeFinal>
            <errorLevel type="suppress">
                <directory name="src" />
            </errorLevel>
        </ClassMustBeFinal>
    </issueHandlers>
</psalm>
